In [1]:
from dotenv import load_dotenv
load_dotenv()
import dssg.dataio.data_prep_voronoi as dpv

In [2]:
data_dir = os.environ.get("DATA_DIR")
sav_file = data_dir + "DHS-Raw-Data/IAHR74SV_household_recode/IAHR74FL.SAV"

In [4]:
df = dpv.read_and_reduce_sav(sav_file)

In [6]:
df.shape

(28524, 3)

In [7]:
df.head()

   DHSCLUST   HV270          HV271
0   10001.0  Richer  107648.636364
1   10002.0  Middle   25279.409091
2   10003.0  Middle    4725.681818
3   10004.0  Middle   17484.909091
4   10005.0  Middle   25083.454545

In [8]:
# Combine weighted voronoi shape file with df1
import geopandas as gpd
india_voronoi_shp = data_dir + "voronoi/IAGE71FL_Voronoi_Clipped/IAGE71FL_Voronoi_Clipped.shp"

In [9]:
india_voronoi_merged_gpd = dpv.merge_clipped_voronoi_and_wealth_index(india_voronoi_shp, df)

In [10]:
india_voronoi_merged_gpd.head()

,DHSID,DHSCLUST,ADM1DHS,DHSREGCO,DHSREGNA,URBAN_RURA,LATNUM,LONGNUM,ALT_DEM,DATUM,WEIGHT,geometry,HV270,HV271
0,IA201400310502,310502.0,31.0,602.0,Thiruvallur,R,13.320202,80.010414,39.0,WGS84,0.04504,"POLYGON ((79.95699 13.28227, 79.95030 13.37055...",Poorer,2846.727273
1,IA201400310190,310190.0,31.0,602.0,Thiruvallur,R,13.118380,79.803917,56.0,WGS84,0.04504,"POLYGON ((79.77943 12.97075, 79.71600 12.99485...",Middle,32007.000000
2,IA201400310070,310070.0,31.0,602.0,Thiruvallur,R,13.147002,79.804755,44.0,WGS84,0.04504,"POLYGON ((79.83122 13.24096, 79.87546 13.14136...",Richer,-20213.045455
3,IA201400310716,310716.0,31.0,602.0,Thiruvallur,R,13.263585,80.188453,14.0,WGS84,0.04504,"POLYGON ((80.20192 13.21268, 80.10237 13.25050...",Richer,13922.863636
4,IA201400310592,310592.0,31.0,602.0,Thiruvallur,R,13.261215,80.222348,18.0,WGS84,0.04504,"POLYGON ((80.27104 13.24175, 80.20483 13.20947...",Middle,25076.500000

In [11]:
#Write to shape file
india_voronoi_merged_gpd.to_file(data_dir + "voronoi/IAGE71FL_Voronoi_Clipped/IAGE71FL_Voronoi_IAHR74FL_Wealth.shp")